@import '_setting.scss';

.profile-image {
    width: 200px;
}

.form-label {
    transform: none;
}

.form-text {
    color: whitesmoke;
}

#form-basic-email {
    color: gray;
}

.form-check-label {
    color: red;
}