@import '_setting.scss';

.profile-form {
    .profile-image {
        width: 200px;
    }
    
    .form-label {
        transform: none;
    }
    
    .form-text {
        color: whitesmoke;
    }
    
    #form-basic-email {
        color: gray;
    }
    
    .form-check-label {
        color: red;
    }
}
