@import '_setting.scss';
$sidebar-bg-color: hsla(311,13.7%,35.8%,0.9);

@import '~react-pro-sidebar/dist/scss/styles.scss';
.pro-sidebar-header {
  height: $navbar-board-content-height;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
 
  .aside-bar-header-icon {
    padding-left: 29.5px;
    padding-top: 5px;
    border-color: red;
    strong {
      margin-left: 10px;
      font-size: larger;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      
      display: none;
      
      
      @media (min-width: 270px) {
        display: inline;
      }
    }

    
  }
}

.pro-sidebar.md {
  @media (max-width: 768px) {
    position: relative; 
    left: 0px;
  }
    
}


.pro-sidebar.md.collapsed {
  @media (max-width: 768px) {
    left: 0px;
  }

}

.pro-sidebar {
  z-index: 100;
}

.enter-new-column {
  width: 250px;
  max-width: 250px;
  // background-color: $column-bg-color;

  line-height: 32px;
  // padding: 4px 4px;
  // margin-left: 22px;
  // margin-right: 3px;
  border-radius: $column-border-radius;
  background-color: rgb(51, 51, 51);
  .input-enter-new-column {
    margin: 5px 0;
    border-color: $input-border-color;
  }

  // .cancel-new-column {
  //   margin-left: $gap;
  //   cursor: pointer;
  //   color: $alert-danger;
  //   i {
  //     font-size: 18px;
  //     &:hover {
  //       color: darken($alert-danger, 10);
  //     } 
  //   }
  // }
}

.pro-menu-item {

  .close-button {
    display: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &:hover {
    .close-button {
      display: inline-block;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .board-title {
    display: inline-block;
    width: 86%;
  }

  .clicked-board {
    color: rgba(255, 255, 255, 0.4);
  }

  
}

