@import '_setting.scss';

$card-border-radius: 5px;

.card-item {
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;


    img.card-cover {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
    }

    .card-close-button {
        display: inline-block;
        margin-left: 185px;
    }

    .card-options {
        
        .card-deadline {
            display: inline-block;
            font-size: smaller;
            padding: 0px 2px;
    
            .icon-deadline {
                font-size: smaller;
            }
            background-color: #FFEDEB;
            border-radius: 10%;
        }
    
        .card-status {
            // position: relative;
            font-size: smaller;
            display: inline-block;
            width: fit-content;
            margin-right: 5px;
    
            .badge {
              // background-color: #d6f0e0;
              color: #0d6832;
              border-radius: 50rem!important;
    
              &.created {
                background-color: rgb(225, 223, 223);
              }
    
              &.inprocess {
                background-color: yellow;
              }
    
              &.done {
                background-color: blue;
                color: white;
              }
    
              &.completed {
                background-color: green;
                color: white;
              }
    
              &.late {
                background-color: red;
                color: black;
              }
    
              &.cancel {
                background-color: orange;
                color: black;
              }
            }
        }
    } 
}