@import '_setting.scss';

.dashboard {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: $gap;
    display: flex;

    .dashboard-container {
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        max-height: 85vh;
        width: 100%;
        // height: $board-content-height;
        .area {
            margin-top: 10px;
            border-radius: 5px;
            margin-left: 10px;
            margin-right: 10px;
            min-height: 200px;
            // width: 100%;
            background-color: whitesmoke;
    
            &.square-area {
                min-width: 200px;

                &.workplace-status {
                    padding: 5% 0;
                }

    
                .first-row {
                    // padding-top: 20px;
                    min-height: 50px;
                }
    
                .second-row {
                    // padding-top: 20px;
                    min-height: 50px;
                }

                .second-row {
                    // padding-top: 20px;
                    min-height: 50px;
                }
    
                .value {
                    font-size: 70px;
                    // display: flex;
                    // justify-content: center;
                    text-align: right;
                    font-weight: bolder;
                }
    
                .unit {
                    font-size: 25px;
                }
            }
    
            &.rectangle-area {
                min-width: 400px;
            }
        }
    }
}
