@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;600');
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$gap: 10px;
$board-bg-color: #0079bf;

$common-element-bg: rgba(255, 255, 255, .24);

