@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$column-bg-color: #ebecf0;
$board-bg-color: #0079bf;
$app-main-text-color: #333;
$alert-danger: #ee5253;

$common-element-bg: rgba(255, 255, 255, .24);

$column-border-radius: 5px;
