@import '_setting.scss';








body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-maihoangminh-master {
  height: 100vh;
  overflow-y: hidden;
  background-color: $board-bg-color;

  
    
  

  
  

  
}

